


.title {
  text-transform: uppercase;
  font-size: 8vw;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  margin: 10px;
  width: 100%;
  background-color: grey;
}

.title{color: rgba(19, 12, 80, 0.8);
  font-size: 140px;
  font-style: oblique;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 42px rgb(32, 90, 216),
    0 0 82px rgb(42, 84, 221),
    0 0 92px rgb(26, 54, 179),
    0 0 102px rgb(41, 94, 209),
    0 0 151px rgb(23, 165, 190);
  }

    @media (max-width: 500px) {
      .title {
      text-transform: uppercase;
      font-size: 10vw;
      font-family: "Montserrat", sans-serif;
      cursor: pointer;
      }
     
    }